.searchWrap {
  display: flex;
  max-width: 360px;
  flex-direction: column;
  /* border: 2px solid rgb(224, 14, 224); */
  margin-bottom: 10px;
}

.searchInput {
  /* max-width: 360px; */
  height: 30px;
}

.searchLabel {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 20px;
}
